/*CSS NavBar*/
.header{
    background-color: var(--dark-blue);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}
.container-right{    
    display: flex;
    align-items: center;

}
.home-button{
    padding: 1em;
    size-adjust: 120%;
}

.home-button:hover{
    transform: scale(1.50);
}

/*CSS Search bar*/
.header__search{
    margin-right: 1.5em;
    background-color: transparent;
    border: 2px solid var(--gray);
    color: var(--background-color-white);
    border-radius: 24px;
    padding: 0.75em;
    width: 100%;
}
.header__search:hover{
    transform: scale(1.10);
    border: 2px solid var(--background-color-white);   
}
.header__search::placeholder{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    justify-content: space-between;
    color: var(--background-color-white);
    background: url(../../../site/static/img/icons/Pesquisa.svg) no-repeat;
    background-position: 1em;   
}

/*CSS Login and registration buttons*/
.buttons-header{
    padding: 0 2em;
    justify-content: space-between;
    display: flex;
}
.buttons-header__login,
.buttons-header__registration{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    color: var(--ligth-green);
    border-radius: 10px;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid var(--ligth-green);   
}
.buttons-header__login:hover,
.buttons-header__registration:hover{
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
    transform: scale(1.10)   
}
.buttons-header__login{
    margin-right: 1em;
}